.wpsi-main-wrapper {
    background-color: #fff;
    max-width: 664px;
    width: 100%;
}

#thumbs-preview {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px solid #c1c0c0;
}

#thumbs-preview > div {
    flex: 0 0 auto;
    padding: 2px;
    border: 1px solid #f0f0f0;
    margin: 5px;
    position: relative;
}

#thumbs-preview > div:hover span.remove {
    display: block;
}

#thumbs-preview > div img {
    display: block;
}

#thumbs-preview > div span.remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 25px;
    text-align: center;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    display: none;
}

.input-wrapper {
    padding: 5px;
    text-align: right;
}